<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sns_project.mapper.CommentMapper">
    <insert id="insertComment">
        INSERT INTO comment (content, post_id, author) VALUES (#{content}, #{postId}, #{author})
    </insert>

    <select id="commentByPostId">
        SELECT id, content, post_id AS postId, author FROM comment WHERE post_id = #{postId}
    </select>

    <delete id="deleteComment">
        DELETE FROM comment WHERE id = #{id}
    </delete>

</mapper>