<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sns_project.mapper.PostMapper">

    <insert id="insertPost">
        INSERT INTO post (title,image,user_num) VALUES (#{title}, #{image},#{userNum})
    </insert>

    <delete id="deletePost">
        DELETE FROM post WHERE id = #{id}
    </delete>

    <select id="postById">
        SELECT p.id, p.title, p.image, p.user_num AS userNum, u.alias AS userAlias, u.profile AS userProfile
        FROM post p JOIN user u ON p.user_num = u.userNum
        WHERE p.id = #{id}
    </select>

    <select id="allPost">
        SELECT p.id, p.title, p.image, p.user_num AS userNum, u.alias AS userAlias, u.profile AS userProfile
         FROM post p JOIN user u ON p.user_num = u.userNum ORDER BY p.id DESC
    </select>

    <select id="postsByUserNum" resultType="com.example.sns_project.dto.PostDTO">
        SELECT p.id, p.title, p.image, p.user_num AS userNum, u.alias AS userAlias, u.profile AS userProfile FROM post p JOIN user u ON p.user_num = u.userNum WHERE p.user_num = #{userNum} ORDER BY p.id DESC
    </select>

    <select id="getPostById">
        SELECT * FROM post WHERE id = #{id}
    </select>
</mapper>