body {
    margin: 0;
    font-family: 'Arial', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-section .icon {
    width: 100px;
    margin: 10px;
}

.right-section {
    width: 50%;
    background-color: #f4f4f4;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Irish Grover', cursive;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input:focus {
    outline: none;
    border-color: #00bfff;
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #00bfff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.login-button:hover {
    background-color: #0099cc;
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: underline;
}