<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <!-- 외부css링크 -->
    <link rel="stylesheet" href="/css/join.css">
</head>
<body>
    <div class="signup-container">
        <div class="signup-box">
            <h1 class="title">TokTok</h1>
            <p class="subtitle">친구들과 소통하며 지내요</p>
            <form class="signup-form">
                <input type="text" placeholder="아이디를 입력해주세요." class="input">
                <input type="password" placeholder="비밀번호를 입력해주세요." class="input">
                <input type="text" placeholder="성명" class="input">
                <input type="text" placeholder="사용자 이름" class="input">
                <button type="submit" class="signup-button">가입</button>
            </form>
        </div>
    </div>
</body>
</html>