<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <!-- 외부css링크 -->
    <link rel="stylesheet" href="/css/myPage.css">
</head>
<body>
<header class="header">
    <a th:href="@{/main}">
        <img src="/img/main.png" alt="Logo" class="logo">
    </a>
    <nav class="nav">
        <a th:href="@{/search}"><img src="/img/head_look.png" alt="Search" class="icon"></a>
        <a href="#"><img src="/img/head_message.png" alt="Message" class="icon"></a>
        <a th:href="@{/board}"><img src="/img/head_board.png" alt="Board" class="icon"></a>
        <a th:href="@{/myPage}"><img src="/img/head_user.png" alt="Profile" class="icon"></a>
    </nav>
    <a th:href="@{/logout}" class="logout-button">로그아웃</a>
</header>

<main class="profile-section">
    <div class="profile-info">
        <div class="profile-image">
            <img th:src="@{'/' + ${user.profile}}" alt="프로필 사진">
        </div>
        <div class="profile-details">
            <h2><span th:text="${user.alias}"></span></h2>
            <p><span th:text="${user.name}"></span>님</p>
        </div>
        <div class="follow-section">

            <span class="followers">팔로우 <strong>2</strong></span>
        </div>
        <a th:href="@{/post/add}" class="add-btn">추가</a>
        <div class="options">
            <a th:href="@{/edit}"><img src="img/plus.png"></a>
        </div>
    </div>

    <div class="gallery">
        <div class="photo" th:each="post : ${posts}">
            <img th:src="@{${post.image}}" alt="게시물 이미지">
            <span class="delete">×</span>
        </div>
    </div>
</main>
</body>
</html>
