<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
  <!-- 외부css링크 -->
  <link rel="stylesheet" href="/css/upload.css">
</head>>
<body>
<header class="header">
  <a th:href="@{/main}"><img src="/img/main.png" alt="Logo" class="logo"></a>
  <nav class="nav">
    <a href="#"><img src="/img/head_look.png" alt="Search" class="icon"></a>
    <a href="#"><img src="/img/head_message.png" alt="Message" class="icon"></a>
    <a href="#"><img src="/img/head_board.png" alt="Board" class="icon"></a>
    <a th:href="@{/myPage}"><img src="/img/head_user.png" alt="Profile" class="icon"></a>
  </nav>
  <a th:href="@{/logout}" class="logout-button">로그아웃</a>
</header>

<!-- 게시글 작성 -->
<div class="post-container">
  <h2>오늘은 무슨 일이 생길까???</h2>
  <div class="upload-box">
    <button class="upload-btn">업로드</button>
    <input type="file" id="file-upload" class="file-input">
  </div>
  <textarea placeholder="여기에 글을 작성하세요..."></textarea>
  <button class="submit-btn">추가</button>
</div>
</body>
</html>
