<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 페이지</title>
    <link rel="stylesheet" href="/css/myPage.css">
</head>
<body>
<header class="header">
    <a th:href="@{/main}">
        <img src="/img/main.png" alt="Logo" class="logo">
    </a>
    <nav class="nav">
        <a th:href="@{/search}"><img src="/img/head_look.png" alt="Search" class="icon"></a>
        <a href="#"><img src="/img/head_message.png" alt="Message" class="icon"></a>
        <a href="#"><img src="/img/head_board.png" alt="Board" class="icon"></a>
        <a th:href="@{/myPage}"><img src="/img/head_user.png" alt="Profile" class="icon"></a>
    </nav>
</header>

<main class="profile-section">
    <div class="profile-info">
        <div class="profile-image">
            <img th:src="${profileImage}" alt="프로필 사진">
        </div>
        <div class="profile-details">
            <h2><span th:text="${alias}"></span></h2>
            <p><span th:text="${name}"></span>님</p>
        </div>
        <div class="follow-section">
            <span class="followers">팔로우 <strong>0</strong></span>
        </div>
    </div>
</main>
</body>
</html>
